---
title: "Redis URL Cache: API documentation"
description: "Redis URL Caching is a URL caching library with a Redis storage. It filters URLs based on Regex per domain. It supports live config changes synchronisation accross several servers, TTL,  instance sharing and isolation."
author: "Antoine A Lucas"
twitter: AntoinE_LuCAS_
image: /redis-url-cache-logo.png
layout: default
---

<div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
        {% include content.html nav=site.data.api base="api"  %}
    </div>
    <div class="col-lg-3 hidden-xs hidden-sm">
        <nav class="right-bar">
            {% include nav.html nav=site.data.api  count=1 %}
        </nav>
    </div>
</div>