{% for item in include.nav %}
<a class="anchor" id='{{ item.text | downcase | replace: " ", "-" }}'></a>
<h2>{{item.text}}</h2>
{% capture path %}{{include.base}}/{{ item.text | downcase | replace: " ", "-" }}.html{% endcapture %}
<p>{{path}}</p>
{% include {{path}} %}
{% if item.subitems %}

{% for item2 in item.subitems %}
<a class="anchor" id='{{ item.text | downcase | replace: " ", "-"}}.{{ item2.text | downcase | replace: " ", "-"}}'></a>
<h3>{{item2.text}}</h3>
{% capture path %}{{include.base}}/{{ item.text | downcase | replace: " ", "-"}}.{{ item2.text | downcase | replace: " ", "-"}}.html{% endcapture %}
<p>{{path}}</p>
{% include {{path}} %}

{% if item2.subitems %}

{% for item3 in item2.subitems %}
<a class="anchor"
   id='{{ item.text | downcase | replace: " ", "-"}}.{{ item2.text | downcase | replace: " ", "-"}}.{{ item3.text | downcase | replace: " ", "-"}}'></a>
<h4>{{item3.text}}</h4>

{% capture path %}{{include.base}}/{{ item.text | downcase | replace: " ", "-"}}.{{ item2.text | downcase | replace: " ", "-"}}.{{ item3.text | downcase | replace: " ", "-"}}.html{% endcapture %}
<p>{{path}}</p>
{% include {{path}} %}
{% endfor %}

{% endif %}

{% endfor %}
{% endif %}

{% endfor %}
