<footer>
    <div class="container">
        <div class="float-left">
            @2016 Antoine LUCAS<br />
            Styles based on the <a href="https://milligram.github.io/" target="_blank">milligram css</a> framework<br />
            Issues? <a href="https://github.com/a-lucas/redis-url-cache/issues">Let us know on github</a>
        </div>

        <div class="float-right">
            <a href=""><img src="" >a-lucas</a>
        </div>
        <div style="clear: both"></div>
    </div>
</footer>