<footer>
    <div class="container">
        <div class="float-left">
            @2016 Antoine LUCAS<br />
            Styles based on the <a href="https://milligram.github.io/" target="_blank">milligram css</a> framework<br />
            Issues? <a href="https://github.com/ng-consult/redis-url-cache/issues" target="_blank">Let us know on github</a>
        </div>

        <div class="float-right">
            <a href="http://a-lucas.github.io/" target="_blank">
                <img src="" >
                a-lucas
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
</footer>

<script src="{{site.baseurl}}highlight/highlight.pack.js"></script>
<script src="{{site.baseurl}}jquery.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
