
<header>

    <nav>
        <div class="float-left">
            <a href="/">
                Redis URL cache
            </a>
        </div>

        <div class="float-right">
            <a href="documentation.html">
                Documentation
            </a>
            <a href="https://github.com/a-lucas/redis-url-cache" target="_blank">
                Github
            </a>

        </div>
        <div style="clear: both"></div>


    </nav>
    <section style="text-align: center">
        <h1>Redis url cache</h1>

        <p>An extensible node.js URL caching library</p>

        <a href="https://github.com/a-lucas/redis-url-cache"  class="button" target="_blank">
            View on Github
        </a>

        <a href="documentation.html"  class="button">
            Documentation
        </a>

        <a href="https://github.com/a-lucas/redis-url-cache/archive/master.zip"  class="button" target="_blank">
            Download .tar.gz
        </a>
    </section>

</header>
