<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="highlight/styles/github.css">
   <!-- <script src="http://localhost:35729/livereload.js"></script>-->
    <link rel="stylesheet" href="milligram.css">
    <script src="jquery.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>

{% include header_home.html %}
<div class="container">
    {{ content }}
</div>
{% include footer.html %}

</body>
</html>